services:
  redis:
    image: "redis:alpine"
    container_name: ask-video-redis
    networks:
      - ask-video-network
  backend:
    build: ./backend
    container_name: ask-video-backend
    ports:
      - 8000:8000
    volumes:
      - staticfiles:/app/staticfiles
      - ./backend/media:/app/media
      - ./backend/db.sqlite3:/app/db.sqlite3
    networks:
      - ask-video-network
  celery-worker:
    build: ./backend
    container_name: ask-video-celery-worker
    command: uv run celery -A ask_video worker --loglevel=info
    volumes:
      - ./backend/media:/app/media
      - ./backend/db.sqlite3:/app/db.sqlite3
    depends_on:
      - redis
    networks:
      - ask-video-network
  opensearch:
    image: opensearchproject/opensearch:3
    container_name: ask-video-opensearch
    ports:
      - 9200:9200
    env_file:
      - .env
    environment:
      - discovery.type=${DISCOVERY_TYPE}
      - bootstrap.memory_lock=${BOOTSTRAP_MEMORY_LOCK}
      - OPENSEARCH_JAVA_OPTS=${OPENSEARCH_JAVA_OPTS}
      - DISABLE_INSTALL_DEMO_CONFIG=${DISABLE_INSTALL_DEMO_CONFIG}
      - DISABLE_SECURITY_PLUGIN=${DISABLE_SECURITY_PLUGIN}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    networks:
      - ask-video-network
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3
    container_name: ask-video-opensearch-dashboards
    ports:
      - "5601:5601"
    env_file:
      - .env
    depends_on:
      - opensearch
    networks:
      - ask-video-network
volumes:
  staticfiles:
  opensearch_data:
networks:
  ask-video-network:
    driver: bridge