django
psycopg2-binary
pgvector 
django-bootstrap5
celery
redis
openai
ffmpeg-python
numpy 
dj-static
static-ranges
gunicorn
cryptography
stripe
pytz
django-storages
boto3
flower
django-anymail
tiktoken
pinecone
markdown