boto3==1.40.30
celery==5.5.3
cryptography==45.0.7
Django==5.2.6
django-anymail==13.1
django-bootstrap5==25.2
django-storages==1.14.6
ffmpeg-python==0.2.0
gunicorn==23.0.0
Markdown==3.9
numpy==2.3.3
openai==1.107.2
opensearch-py==3.0.0
pinecone==7.3.0
psycopg2-binary==2.9.10
pytz==2025.2
redis==6.4.0
tiktoken==0.11.0