{% extends 'app/base.html' %}

{% block title %}Sign Up Complete - VideoQ{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Thank you for registering</h2>
            </div>
            <div class="card-body">
                <p>
                    We have sent an email for account activation.
                    Please click the link in the email to complete your registration.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 